html {
    font-family: monospace;
    background-color: #7e5050;
    color: white;
}
img {
    width: 200px;
}
.description {
    width: 200px;
}
#about {
    background-color: #5c3030;
}
#characters {
    background-color: #5c3030;
}
#gallery {
    background-color: #552020;
}
#description {
    background-color: #552020;
}